Enrich-Emails-AutoCloseSpam/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
        "postDeployment": [],
        "prerequisitesDeployTemplateFile": "",
        "lastUpdateTime": "",
        "entities": [],
        "tags": [],
        "support": {
            "tier": "community",
            "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author": {
            "name": ""
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Enrich-AutoClose-EmailIncidents",
            "type": "string"
        },
        "Resource Name": {
            "type": "string",
            "metadata": {
                "description": "Enter value for Resource Name"
            }
        }
    },
    "variables": {
        "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "Resource Name": {
                            "defaultValue": "[parameters('Resource Name')]",
                            "type": "string"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Filter_Url": {
                            "runAfter": {
                                "Parse_related_entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_related_entities')",
                                "where": "@equals(item()?['kind'], 'Url')"
                            }
                        },
                        "For_Url": {
                            "foreach": "@body('Filter_Url')",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)": {
                                            "runAfter": {
                                                "Tag_dangerous_entity_clicked": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@body('Tag_dangerous_entity_clicked')?['id']",
                                                    "message": "<p>There has been an URL that was clicked on from this email. Please investigate promptly.</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Tag_dangerous_entity_clicked": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "severity": "High",
                                                    "tagsToAdd": {
                                                        "TagsToAdd": [
                                                            {
                                                                "Tag": "DANGEROUS-URL-CLICKED!"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_additionalData": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Filter_MailMessage": {
                                                "runAfter": {},
                                                "type": "Query",
                                                "inputs": {
                                                    "from": "@body('Parse_related_entities')",
                                                    "where": "@equals(item()['kind'], 'MailMessage')"
                                                }
                                            },
                                            "For_each_MailMessage": {
                                                "foreach": "@body('Filter_MailMessage')",
                                                "actions": {
                                                    "Add_comment_to_incident_(V3)_2": {
                                                        "runAfter": {
                                                            "Update_incident": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                "message": "<p>@{body('Create_email_details_table')}</p>"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/Incidents/Comment"
                                                        }
                                                    },
                                                    "Compose_email_details": {
                                                        "runAfter": {
                                                            "Set_DeliveryAction": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Compose",
                                                        "inputs": {
                                                            "OGDeliveryLocation": "@{body('Parse_properties')?['additionalData']?['OriginalDeliveryLocation']}",
                                                            "Sender": "@{body('Parse_properties')?['p1Sender']}",
                                                            "Threats": "@{body('Parse_properties')?['threats']}",
                                                            "deliveryAction": "@{body('Parse_properties')?['deliveryAction']}",
                                                            "recipient": "@{body('Parse_properties')?['recipient']}",
                                                            "subject": "@{body('Parse_properties')?['subject']}"
                                                        }
                                                    },
                                                    "Create_email_details_table": {
                                                        "runAfter": {
                                                            "Compose_email_details": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Table",
                                                        "inputs": {
                                                            "format": "HTML",
                                                            "from": "@createArray(outputs('Compose_email_details'))"
                                                        }
                                                    },
                                                    "Parse_properties": {
                                                        "runAfter": {},
                                                        "type": "ParseJson",
                                                        "inputs": {
                                                            "content": "@items('For_each_MailMessage')?['properties']",
                                                            "schema": {
                                                                "properties": {
                                                                    "additionalData": {
                                                                        "properties": {
                                                                            "AdditionalActionsAndResults": {
                                                                                "type": "string"
                                                                            },
                                                                            "AuthDetails": {
                                                                                "type": "string"
                                                                            },
                                                                            "FirstSeen": {
                                                                                "type": "string"
                                                                            },
                                                                            "OriginalDeliveryLocation": {
                                                                                "type": "string"
                                                                            },
                                                                            "Source": {
                                                                                "type": "string"
                                                                            },
                                                                            "SystemOverrides": {
                                                                                "type": "string"
                                                                            },
                                                                            "Urn": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "antispamDirection": {
                                                                        "type": "string"
                                                                    },
                                                                    "deliveryAction": {
                                                                        "type": "string"
                                                                    },
                                                                    "fileEntityIds": {
                                                                        "type": "array"
                                                                    },
                                                                    "friendlyName": {
                                                                        "type": "string"
                                                                    },
                                                                    "internetMessageId": {
                                                                        "type": "string"
                                                                    },
                                                                    "language": {
                                                                        "type": "string"
                                                                    },
                                                                    "networkMessageId": {
                                                                        "type": "string"
                                                                    },
                                                                    "p1Sender": {
                                                                        "type": "string"
                                                                    },
                                                                    "p1SenderDomain": {
                                                                        "type": "string"
                                                                    },
                                                                    "p2Sender": {
                                                                        "type": "string"
                                                                    },
                                                                    "p2SenderDisplayName": {
                                                                        "type": "string"
                                                                    },
                                                                    "p2SenderDomain": {
                                                                        "type": "string"
                                                                    },
                                                                    "receiveDate": {
                                                                        "type": "string"
                                                                    },
                                                                    "recipient": {
                                                                        "type": "string"
                                                                    },
                                                                    "senderIP": {
                                                                        "type": "string"
                                                                    },
                                                                    "subject": {
                                                                        "type": "string"
                                                                    },
                                                                    "threats": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "urls": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "Set_DeliveryAction": {
                                                        "runAfter": {
                                                            "Parse_properties": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "DeliveryAction",
                                                            "value": "@body('Parse_properties')?['deliveryAction']"
                                                        }
                                                    },
                                                    "Update_incident": {
                                                        "runAfter": {
                                                            "Create_email_details_table": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                "tagsToAdd": {
                                                                    "TagsToAdd": [
                                                                        {
                                                                            "Tag": "ClickCount: @{body('Parse_additionalData')?['ClickCount']}"
                                                                        },
                                                                        {
                                                                            "Tag": "@variables('DeliveryAction')"
                                                                        }
                                                                    ]
                                                                }
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                                                                }
                                                            },
                                                            "method": "put",
                                                            "path": "/Incidents"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Filter_MailMessage": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Foreach"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@body('Parse_additionalData')?['ClickCount']",
                                                    "0"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Parse_additionalData": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_Url')?['properties']?['additionalData']",
                                        "schema": {
                                            "properties": {
                                                "ClickCount": {
                                                    "type": "integer"
                                                },
                                                "EmailCount": {
                                                    "type": "integer"
                                                },
                                                "FirstSeen": {
                                                    "type": "string"
                                                },
                                                "Source": {
                                                    "type": "string"
                                                },
                                                "Urn": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Filter_Url": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_DeliveryAction": {
                            "runAfter": {
                                "Initialize_OriginalDeliveryLocation": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DeliveryAction",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_OriginalDeliveryLocation": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OriginalDeliveryLocation",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_body": {
                            "runAfter": {
                                "Initialize_DeliveryAction": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "eventUniqueId": {
                                                    "type": "string"
                                                },
                                                "object": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "additionalData": {
                                                                    "properties": {
                                                                        "alertProductNames": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "alertsCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "bookmarksCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "commentsCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "tactics": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "techniques": {
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "alerts": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "additionalData": {
                                                                                        "properties": {
                                                                                            "Alert generation status": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "InvestigationName": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "ProcessedBySentinel": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Status": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "alertDisplayName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "alertLink": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "alertType": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "confidenceLevel": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "confidenceScore": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "description": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "endTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "friendlyName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "processingEndTime": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "productName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "providerAlertId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "resourceIdentifiers": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "workspaceId": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "type",
                                                                                                "workspaceId"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "severity": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "startTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "status": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "systemAlertId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "tactics": {
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "timeGenerated": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "vendorName": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type",
                                                                            "kind",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "bookmarks": {
                                                                    "type": "array"
                                                                },
                                                                "comments": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "etag": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "author": {
                                                                                        "properties": {
                                                                                            "email": {},
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "objectId": {},
                                                                                            "userPrincipalName": {}
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "createdTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "lastModifiedTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "message": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "name",
                                                                            "etag",
                                                                            "type",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "createdTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "firstActivityTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "incidentNumber": {
                                                                    "type": "integer"
                                                                },
                                                                "incidentUrl": {
                                                                    "type": "string"
                                                                },
                                                                "labels": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "labelName": {
                                                                                "type": "string"
                                                                            },
                                                                            "labelType": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "labelName",
                                                                            "labelType"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "lastActivityTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "lastModifiedTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "assignedTo": {
                                                                            "type": "string"
                                                                        },
                                                                        "email": {
                                                                            "type": "string"
                                                                        },
                                                                        "objectId": {
                                                                            "type": "string"
                                                                        },
                                                                        "userPrincipalName": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "providerIncidentId": {
                                                                    "type": "string"
                                                                },
                                                                "providerName": {
                                                                    "type": "string"
                                                                },
                                                                "relatedAnalyticRuleIds": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "relatedEntities": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "additionalData": {
                                                                                        "properties": {
                                                                                            "FirstSeen": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Source": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Urn": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "friendlyName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "mailboxPrimaryAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "upn": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type",
                                                                            "kind",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "severity": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "objectEventType": {
                                                    "type": "string"
                                                },
                                                "objectSchemaType": {
                                                    "type": "string"
                                                },
                                                "workspaceId": {
                                                    "type": "string"
                                                },
                                                "workspaceInfo": {
                                                    "properties": {
                                                        "ResourceGroupName": {
                                                            "type": "string"
                                                        },
                                                        "SubscriptionId": {
                                                            "type": "string"
                                                        },
                                                        "WorkspaceName": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Accept-Encoding": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Host": {
                                                    "type": "string"
                                                },
                                                "x-ms-client-keywords": {
                                                    "type": "string"
                                                },
                                                "x-ms-client-tracking-id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_related_entities": {
                            "runAfter": {
                                "Parse_body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Parse_body')?['object']?['properties']?['relatedEntities']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "properties": {
                                                    "additionalData": {
                                                        "properties": {
                                                            "FirstSeen": {
                                                                "type": "string"
                                                            },
                                                            "Source": {
                                                                "type": "string"
                                                            },
                                                            "Urn": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "friendlyName": {
                                                        "type": "string"
                                                    },
                                                    "mailboxPrimaryAddress": {
                                                        "type": "string"
                                                    },
                                                    "upn": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "type",
                                            "kind",
                                            "properties"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuresentinel_2": {
                                "connectionId": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/resourceGroups/5Q-RG-Playbooks/providers/Microsoft.Web/connections/azuresentinel-4",
                                "connectionName": "azuresentinel-4",
                                "id": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/providers/Microsoft.Web/locations/centralus/managedApis/azuresentinel"
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "AutomationRule": "Enrich-EmailIncidents",
                "Note": "Complete, use this one",
                "hidden-SentinelTemplateName": "5QC.Enrich-AutoClose-EmailIncidents",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        }
    ]
}